<nav class="fh5co-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div id="fh5co-logo"><a href="index.html">Yogi Films<strong>.</strong></a></div>
      </div>
      <div class="col-xs-8 text-right menu-1">
        <ul>
          <li class="active"><a routerLink="/">Home</a></li>
          <li class="active"><a routerLink="/service">Services</a></li>
          <li class="active"> <a routerLink="/gallery">Gallery</a></li>
          <li class="active"><a routerLink="/contact">Contact</a></li>
          <!-- <li><a href="about.html">About Us</a></li> -->
        </ul>
      </div>
    </div>
    
  </div>
</nav>

