<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(assets/images/contact.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1 data-animate-effect="fadeOut"><img alt="Yogi Films" src="assets/images/logo/camera1.png"></h1>
            <h2>Welcome to Yogi Films</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>