<app-navigator></app-navigator>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-color: transparent;">
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="assets/images/home.jpg" style="width:100%;">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 grid" data-toggle="modal" data-target="#myModal">

    <div class="col-xs-6 col-md-3">
        <img src="assets/images/home.jpg" alt="...">
        <img src="assets/images/team/amolsalunke.jpg">
    </div>
    <div class="col-xs-6 col-md-3">
        <img src="assets/images/services.jpg">
        <img src="assets/images/home.jpg" alt="...">
    </div>
    <div class="col-xs-6 col-md-3">
        <img src="assets/images/gallery/main/mehandi.jpg">
        <img src="assets/images/gallery/main/wedding.jpg">
        <img src="assets/images/home.jpg" alt="...">
    </div>
    <div class="col-xs-6 col-md-3">
        <img src="assets/images/team/amolsalunke.jpg">
        <img src="assets/images/gallery.jpg" alt="...">
    </div>
</div>