

<app-header></app-header>
<div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Our Special Events</span>
                <h2>Wedding Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Main Ceremony</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>4:00 PM</span>
                                    <span>6:00 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Monday 28</span>
                                    <span>November, 2016</span>
                                </div>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Wedding Party</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>7:00 PM</span>
                                    <span>12:00 AM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Monday 28</span>
                                    <span>November, 2016</span>
                                </div>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

